{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}"></td>
            <td></td><td></td><td></td><td></td><td></td>
            <td>
                <h1>{{ user.username }}</h1>
                <hr>
                {% if user.about_me %}
                <p><span style="font-weight: normal">{{ user.about_me }}</span></p>
                {% endif %}
                {% if user.last_seen %}
                <p><span style="font-weight: normal">Last seen: {{ moment(user.last_seen).format('LLL') }}</span></p>
                {% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}" class="btn btn-dark">Edit your profile</a></p>
                {% endif %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('follow', username=user.username) }}"
                   class="btn btn-primary">Follow</a>
                {% else %}
                <a href="{{ url_for('unfollow', username=user.username) }}"
                   class="btn btn-default">Unfollow</a>
                {% endif %}
            </td>
        </tr>
    </table>
<hr>
<h3>Posts by {{ user.username }}:</h3>
{% include '_posts.html' %}
{% endblock %}